header {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container a {
    display: inline-flex;
}

.logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.site-name {
    font-size: 25px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}


@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .site-name {
        display: none;
    }

    nav ul {
        display: none;
    }

    nav.active ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #333;
        width: 100%;
        top: 110px;
        left: 0;
        padding: 10px 0;
        z-index: 1;
    }

    nav.active ul li a {
        color: white;
        padding: 10px 20px;
    }
}